spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: ${MONGODB_DATABASE:db_jass_claims}
      auto-index-creation: false

  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}

services:
  users:
    url: ${USERS_SERVICE_URL:http://vg-ms-users:8081}
  organizations:
    url: ${ORGANIZATIONS_SERVICE_URL:http://vg-ms-organizations:8083}

webclient:
  timeout:
    connect: 5000
    read: 10000
    write: 10000

resilience4j:
  circuitbreaker:
    instances:
      usersService:
        failureRateThreshold: 50
        waitDurationInOpenState: 30s
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
      organizationsService:
        failureRateThreshold: 50
        waitDurationInOpenState: 30s
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
  retry:
    instances:
      usersService:
        maxAttempts: 3
        waitDuration: 500ms
      organizationsService:
        maxAttempts: 3
        waitDuration: 500ms

springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false

logging:
  level:
    root: WARN
    pe.edu.vallegrande: INFO
